.bookList {
    height: 100px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &>thead {
        &>tr {
            &>th {
                border-collapse: collapse;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: #313131;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        tr:hover td {
            background-color: #f39c12;
            color: white;
        }
    }

    &>tbody {
        &>tr {
            &>td {
                width: 200px;
                border-collapse: collapse;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: #ecf0f1;
                color: #333;
                border: 1px solid #ddd;
            }

            tr:nth-child(even) td {
                background-color: #f2f2f2;
            }
        }


    }
}