.header {
   height: 60px;
   padding-inline: 16px;
   border-bottom: 1px solid #ccc;

   &>div:first-child {
      display: flex;
      align-items: center;
      background-color: #fafafa;
      border-radius: 4px;

      &>span {
         padding-left: 16px;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         color: #6e7990;

      }

      &>input {
         padding: 13px 16px;
         color: #6e7990;
      }
   }

   &>div {
      &>ul {
         display: flex;
         align-items: center;

         &>li {
            &>span {
               border: 1px solid black;
               padding: 3px;
            }

            &>button {
               all: unset;
            }

         }


      }
   }
}

input {
   all: unset;
}

.cartDropdownContent {
   width: 200px;
   max-height: 200px;
   overflow-y: auto;
   padding-right: 10px;
   align-items: stretch;

   .products {
      padding: 10px 16px 0px;
      column-gap: 10px;

      &>div {
         width: 50px;

         &:first-of-type {
            &>img {
               width: 100%;
               border-radius: 3px;
            }
         }

         &>span {
            display: inline-block;
            justify-content: center;

         }
      }

   }
}